.card	{
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 50vw;
	padding: 20px;
	border: 1px solid $dark-grey;
	background: white;
	transition: height 300ms;
	@include media-query($big) {
		height: 40vh;
	}
	&.isClosed {
		height: 0px;
		transform: translateY(50px);
		.card__content {
			visibility: hidden;
		}
		.card__toggle {
    	transform: translate(-50%, calc(-50% - 25px));
		}
		// animation: hideCard 300ms 1 forwards;
	}
	&__title {
		font-size: 20px;
		margin-bottom: .25em;
	}
	&__tags {
		margin: 2em 0;
	}
	&__tag {
		display: inline-block;
		position: relative;
		font-size: 14px;
		&:not(:last-of-type) {
			padding-right: 6px;
			&::after {
				content: '•';
				position: absolute;
				transform: translateY(-50%);
				top: 50%;
				right: 0;
			}
		}
	}
	&__link {
		padding-bottom: 1em;
		a {
			font-size: 14px;
			color: $dark-grey;
			text-decoration: none;
			&:hover {
				color: $brand-yellow;
			}
		}
	}
	&__toggle {
		cursor: pointer;
		position: absolute;
    transform: translate(-50%,-50%);
    top: 0px;
		left: 0px;
		transition: transform 300ms;
		&.isactive {
			svg {
				transform: rotate(0deg);
			}
		}
		svg {
			transform: rotate(45deg);
			transition: transform 300ms ease-in-out;
		}
		circle {
			fill: #fff;
			stroke: $dark-grey;
		}
	}
}
