.header {
	.sidebar {
		position: fixed;
		left: 0;
		top: 0;
		z-index: 999;
		height: 100%;
		padding: 20px;
		background: white;
		&::after {
			content: '';
			position: absolute;
			transform: translateY(-50%);
			top: 50%;
			right: 0;
			background: $dark-grey;
			width: 2px;
			height: 25%;
		}
	}
	.brand {
		display: inline-block;
		vertical-align: middle;
		@include media-query(700px) {
			display: block;
		}
		&__logo {
			font-weight: 700;
			text-transform: uppercase;
			img {
				height: 50px;
				width: 50px;
			}
		}
		a {
			text-transform: capitalize;
			text-decoration: none;
			color: $dark-grey;
			font-size: 16px;
			@include media-query($large) {
				font-size: 26px;
			}
		}
	}
	&__nav {
		display: flex;
		position: fixed;
		width: 0%;
		height: 100%;
		opacity: 0;
		z-index: 99;
		transition: width 300ms, opacity 300ms;
		&.isactive {
			width: 100%;
			opacity: 1;
		}
	}
	&__sec {
		&--left { 
			width: 90%;
			background: $dark-grey;
		}
		&--right {
			width: 10%;
		}
	}
	&__burger {
		cursor: pointer;
		@include abs-center();
			.burger__element {
				transition: transform 300ms;
				&--middle {
					transform: translateX(100%);
				}
			}
			&.menu-open {
				.burger__element {
					&--top {
						transform: translate(-45%, -4px);
					}
					&--middle {
						transform: translateX(0%);
					}
					&--bottom {
						transform: translate(-15%, 4px);
					}
				}
			}
		&:hover:not(.menu-open) {
			.burger__element {
				&--top {
					transform: translateX(-45%);
				}
				&--bottom {
					transform: translateX(-15%);
				}
			}
		}
	}
	&__date {
		vertical-align: super;
		font-size: $--step-down-4;
		color: #808080;
	}
	&__list {
		position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
		&-item {
			font-family: $mainFont;
			font-size: 40px;
			padding: .25em;
			a {
				text-decoration: none;
				color: #eee;
				transition: color 300ms;
				&:hover {
					color: #ee8002;
				}
			}
			&.active {
				a {
					color: #000;
				}
			}
		}
	}
}
