.header {
	.sidebar {
		position: fixed;
		left: 0;
		top: 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		z-index: 999;
		height: 100%;
		padding: 5px;
		background: white;
		@include media-query($large) {
			padding: 20px;
		}
		&::after {
			content: '';
			position: absolute;
			transform: translateY(-50%);
			top: 50%;
			right: 0;
			background: $dark-grey;
			width: 2px;
			height: 25%;
		}
	}
	.brand {
		display: inline-block;
		vertical-align: middle;
		@include media-query(700px) {
			display: block;
		}
		&__logo {
			font-weight: 700;
			text-transform: uppercase;
			img {
				height: 40px;
				width: 40px;
				@include media-query($large) {
					height: 50px;
					width: 50px;
				}
			}
		}
		a {
			text-transform: capitalize;
			text-decoration: none;
			color: $dark-grey;
			font-size: 16px;
			@include media-query($large) {
				font-size: 26px;
			}
		}
	}
	&__nav {
		display: flex;
		position: fixed;
		width: 100%;
		height: 100%;
		opacity: 0;
		z-index: 99;
		transform: translateX(-100%);
		transition: transform 300ms, opacity 300ms;
		&.isactive {
			transform: translateX(0%);
			opacity: 1;
		}
	}
	&__sec {
		&--left {
			width: 100%;
			background: $dark-grey;
			overflow: auto;
			margin-left: 50px;
			@include media-query($large) {
				width: calc(90% - 90px);
				margin-left: 90px;
			}
		}
		&--right {
			display: none;
			@include media-query($large) {
				width: 10%;
				display: inherit;
			}
		}
	}
	&__burger {
		cursor: pointer;
			.burger__element {
				transition: transform 300ms;
				&--middle {
					transform: translateX(100%);
				}
			}
			&.menu-open {
				.burger__element {
					&--top {
						transform: translate(-45%, -4px);
					}
					&--middle {
						transform: translateX(0%);
					}
					&--bottom {
						transform: translate(-15%, 4px);
					}
				}
			}
		&:hover:not(.menu-open) {
			.burger__element {
				&--top {
					transform: translateX(-45%);
				}
				&--bottom {
					transform: translateX(-15%);
				}
			}
		}
	}
	&__date {
		align-self: center;
		font-size: $--step-down-4;
	}
	&__list {
		width: 100%;
		padding: 40px 20px;
		@include media-query($large) {
			width: auto;
			padding: 100px 50px 20px;
		}
		&-comp {
			width: calc(100% / 2);
			@include media-query($large) {
				width: calc(100% / 3);
			}
			&--second {
				display: none;
				text-align: center;
				@include media-query($large) {
					display: block;
				}
			}
			&--third {
				text-align: right;
			}
		}
		&-item-wrap {
			display: flex;
			justify-content: space-between;
			align-items: center;
			border-bottom: 2px solid $light-grey;
			font-size: 20px;
			padding: 1.0em 0;
			@include media-query($large) {
			font-size: 32px;
			border-width: 4px;
			}
			@include media-query($large) {
				font-size: 40px;
			}
		}
		&-item {
			font-family: $mainFont;
		}
		&-link {
			display: block;
			text-decoration: none;
			color: $light-grey;
			transition: color 300ms;

			&:hover {
				color: $brand-yellow;
			}
		}
	}
	&__title {
		font-size: inherit;
	}
	&__tags {
		display: none;
		@include media-query($large) {
			display: inherit;
		}
	}
	&__disclaimer {
		color: $light-grey;
		padding-bottom: 1em;
		text-align: center;
	}
	&__description {
		width: 80%;
		margin: 50px auto;
		@include media-query($large) {
			width: 75%;
		}
	}
	&__copy {
		font-size: 18px;
		font-weight: 500;
		color: $light-grey;
		padding-bottom: 1em;
		@include media-query($small) {
			font-size: 24px;
		}
		@include media-query($med) {
			font-size: 34px;
		}
		@include media-query($large) {
			font-size: 42px;
		}
	}
}
