.thing-holder {
  position: absolute;
  width: 100%;
}
.ting {
  width: 100%;
  position: relative;
  border: 2px solid $dark-grey;
  border-top: none;
  transition: background-color 300ms;
  &:hover {
    background-color: rgb(160, 160, 160);
    box-shadow: 0px 5px 20px -10px black;
  }
  p {
    top: 50%;
    left: 50%;
    font-size: 36px;
    font-weight: 700;
    padding: 2em;
  }
}
