html {
  font-size: 62.5%;
  font-family: $mainFont;
}
body {
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
}
p {
  font-size: 16px;
}

.page-main {
  position: relative;
  height: 100%;
  margin-left: 50px;
  @include media-query($large) {
    margin-left: 90px;
  }
}