{{#json
'{
	"card": {
    "title": "Particles",
    "date": "Sept 2020",
    "tags": [
			"3D"
    ],
    "description": "Simple particle system on the GPU with a subtle post-processing glow. Essentially just an implementation of Josh Marinacci\'s posts from Medium.",
    "references": [
      {
        "name": "ThreeJS Particles: Recycling",
        "link": "https://blog.mozvr.com/threejs-particles-recycling/"
      }
    ]
	}
}'
}}
{{#> layout/base title='Particles' namespace="particles" }}
	{{#*inline "body"}}
		{{!-- {{> components/sketches/particles }} --}}
    <div class="wrapper">
      <div class="canvas-container">
        <canvas class="full-canvas" id="Particles"></canvas>
      </div>
    </div>
		{{> components/sketches/card card=this.card }}
	{{/inline}}
{{/layout/base}}
{{/json}}