{{!-- layouts/base.hbs --}}

<!doctype html>
<html>
	<head>
		<title>
			{{#if title}}
				{{title}}
			{{else}}
				Base Page Title
			{{/if}}
		</title>
		{{#> head-block}}
			{{!-- Page specific head content goes here. --}}
		{{/head-block}}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		{{!-- <link rel="stylesheet" href="https://use.typekit.net/kiu8cqw.css"> --}}
		<link href="https://fonts.googleapis.com/css?family=Ubuntu:500&display=swap" rel="stylesheet">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ffc40d">
		<meta name="msapplication-TileColor" content="#ffc40d">
		<meta name="theme-color" content="#ffffff">
	</head>
	<body class="not-animating">
		{{#> header }}
			{{> components/global/menu }}
		{{/header}}

			<div data-barba="wrapper">
				<div data-barba="container" data-barba-namespace={{namespace}} id="{{namespace}}">
					<main class="page-main">
						{{#> body}}
							{{!-- Body content goes here. --}}
							{{/body}}
					</main>
				</div>
			</div>


		{{!-- <footer>
			{{#> footer-block}}
				{{> components/global/footer }}
			{{/footer-block}}
		</footer> --}}
	</body>
</html>
