<div class="landing">
	<div class="landing__section">
		<p class="landing__copy">
			I'm <a href="/" target="_blank">Luke</a>, and these are some digital sketches -experiments or tests of ideas I've had and things I've come across on this world wide web.
		</p>
	</div>
	<div class="landing__section">
		<p class="landing__copy">
			As is the nature of experiments these are not complete, refined digital experiences and support across devices and browsers may vary.
		</p>
	</div>
</div>