<div class="wrap">
	<div class="image">
		<div class="circle-overlay"></div>
		<svg id="Layer_1" viewBox="0 0 500 750">
			<defs>
				<mask id="masked">
					<rect width="500" height="750" style="fill: #fff" />
					<rect id="one" x="40" y="25" width="417" height="125" style="fill: #000" />
					<rect id="two" x="40" y="225" width="417" height="200" style="fill: #000" />
					<rect id="three" x="40" y="500" width="300" height="150" style="fill: #000" />
				</mask>
			</defs>
			<rect id="shade" x="-1000" width="1000" height="750" />
			<g id="border" mask="url(#masked)" refs="border">
				<rect width="500" height="750" />
			</g>
		</svg>
	</div>

		<ul class="list">
			<li class="item">
				<div>French Pass</div>
			</li>
			<li class="item">
				<div>Surfie Green</div>
			</li>
			<li class="item">
				<div>Energy Yellow</div>
			</li>
			<li class="item">
				<div>Amaranth</div>
			</li>
			<li class="item">
				<div>Mountain Meadow</div>
			</li>
		</ul>
	<div class="button-wrap">
		<button id="button" type="button" name="button">Next</button>
		<button id="button1" type="button" name="button">Reset</button>
	</div>
</div>