<div class="wrap">
	<div class="image">
		<svg id="Layer_1" viewBox="0 0 500 500">
			<defs>
				<mask id="masked">
					<rect width="500" height="500" style="fill: #fff" />
					<rect id="one" x="40" y="39" width="417" height="122" style="fill: #000" />
					<rect id="two" x="40" y="242" width="417" height="199" style="fill: #000" />
				</mask>
			</defs>
			<rect id="shade" x="-1000" width="1000" height="500" />
			<g id="border" mask="url(#masked)">
				<rect width="500" height="500" />
			</g>

		</svg>
	</div>

	<ul class="list">
		<li class="item">
			<div>Ginventory</div>
		</li>
		<li class="item">
			<div>VR Sessions</div>
		</li>
		<li class="item">
			<div>Le Voyagist</div>
		</li>
		<li class="item">
			<div>Riftword</div>
		</li>
		<li class="item">
			<div>Traffic</div>
		</li>

	</ul>

	<button id="button" type="button" name="button">Click</button>
	<button id="button1" type="button" name="button">Click</button>

</div>