<div class="scrolling-container">
	<div class="content-wrap">
		<div class="content">
			<div class="content__section content__section--left">
				<div class="placeholder">
				</div>
			</div>
			<div class="content__section content__section--right">
				<div class="placeholder">
				</div>
			</div>
		</div>
	</div>
</div>