<div class="wrapper">
  <div class="canvas-container">
    <canvas id="PostProcess"></canvas>
    {{!-- <video id="Video" webkit-playsinline loop style="display:none;">
      <source src="./src/assets/videos/vid2.mp4" type="video/mp4">
    </video> --}}
    <div class="controls">
      <div class="controls__wrap controls__basic">
        <button id="Smaller">Smaller</button>
        <button id="Bigger">Bigger</button>
        <button id="Invert">Invert</button>
      </div>
      <div class="controls__wrap controls__textures">
        <button id="Texture">Switch Textures</button>
      </div>
    </div>
  </div>
</div>