<div class="wrapper">
  <div class="canvas-container">
    <canvas id="PostProcess"></canvas>
    <video id="Video" webkit-playsinline loop style="display:none;">
      <source src="./src/assets/videos/vid2.mp4" type="video/mp4">
    </video>
  </div>
</div>