<div class="thing-holder">
	<div class="ting">
		<p>Friday</p>
	</div>
	<div class="ting">
		<p>Saturday</p>
	</div>
	<div class="ting">
		<p>Sunday</p>
	</div>
	<div class="ting">
		<p>Monday</p>
	</div>
	<div class="ting">
		<p>Tuesday</p>
	</div>
	<div class="ting">
		<p>Wednesday</p>
	</div>
	<div class="ting">
		<p>Thursday</p>
	</div>
	<div class="ting">
		<p>Friday</p>
	</div>
	<div class="ting">
		<p>Saturday</p>
	</div>
	<div class="ting">
		<p>Sunday</p>
	</div>
	<div class="ting">
		<p>Monday</p>
	</div>
	<div class="ting">
		<p>Tuesday</p>
	</div>
	<div class="ting">
		<p>Wednesday</p>
	</div>
	<div class="ting">
		<p>Thursday</p>
	</div>
</div>