<div class="thing-holder">
	<div class="ting thing1">
		<p>Label: thing:1 - 1</p>
	</div>
	<div class="ting thing2">
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum minima commodi accusamus libero quam cum similique
			porro, aliquid rem! Commodi, veritatis aspernatur harum sequi vero recusandae? Non hic incidunt reprehenderit est?
			Incidunt nesciunt voluptatum possimus ipsa distinctio. Perferendis laborum ipsam incidunt reprehenderit similique
			molestiae sapiente possimus, voluptates neque hic dolore quis minus error qui aspernatur natus modi sit placeat
			tempore ad vero nemo, laboriosam animi? Quibusdam perferendis veritatis, quod voluptatum assumenda facilis ipsa,
			sit dignissimos libero laboriosam, dolore cum corrupti!</p>
	</div>
	<div class="ting thing3">
		<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus maxime maiores cupiditate neque fugiat magnam
			delectus adipisci repellendus fugit accusantium.</p>
	</div>
	<div class="ting thing1">
		<p>Label: thing:1 - 1</p>
	</div>
	<div class="ting thing2">
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum minima commodi accusamus libero quam cum similique
			porro, aliquid rem! Commodi, veritatis aspernatur harum sequi vero recusandae? Non hic incidunt reprehenderit est?
			Incidunt nesciunt voluptatum possimus ipsa distinctio. Perferendis laborum ipsam incidunt reprehenderit similique
			molestiae sapiente possimus, voluptates neque hic dolore quis minus error qui aspernatur natus modi sit placeat
			tempore ad vero nemo, laboriosam animi? Quibusdam perferendis veritatis, quod voluptatum assumenda facilis ipsa,
			sit dignissimos libero laboriosam, dolore cum corrupti!</p>
	</div>
	<div class="ting thing3">
		<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus maxime maiores cupiditate neque fugiat magnam
			delectus adipisci repellendus fugit accusantium.</p>
	</div>
</div>