{{!-- {{> components/shaders/wave-shader }} --}}

{{> components/shaders/lighting-shader }}

<div class="wrapper">
  <div class="canvas-container">
    <canvas id="Sandbox"></canvas>
  </div>
</div>

