{{#json
'{
	"links": [
		{"title": "Wave Hover", "date": "Feb 2018", "slug": "/wave-hover"},
		{"title": "Scroll Loop", "date": "Dec 2018",  "slug": "/scroll-loop"},
		{"title": "Floating Text", "date": "Dec 2018", "slug": "/floating-text"},
		{"title": "Inverse Scroll", "date": "July 2018", "slug": "/inverse-scroll"},
		{"title": "Cutout Slider", "date": "Nov 2017", "slug": "/cutout-slider"}
	]
}'
}}
<header class="header">
	<div class="sidebar">
		<div class="brand">
			<h1 class="brand__logo"><a href="/">
			<img src="../assets/logo.png" alt="Productive Procrastination">
		</a></h1>
		</div>
		<svg id="ToggleNav" class="header__burger" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30px" height="30px">
			<rect y="7" width="30" height="4" rx="0" ry="0" class="burger__element burger__element--top"></rect>
			<rect y="13" width="30" height="4" rx="0" ry="0" class="burger__element burger__element--middle"></rect>
			<rect y="19" width="30" height="4" rx="0" ry="0" class="burger__element burger__element--bottom"></rect>
		</svg>
	</div>
	<nav id="MainNav" class="header__nav">
		<div class="header__sec header__sec--left">
			<ul class="header__list">
				{{#each links}}
				<li class="header__list-item">
					<span class="header__date">{{ this.date }}</span>
					<a href="{{this.slug}}">{{this.title}}</a>
				</li>
				{{/each}}
			</ul>
			<p class="header__disclaimer">*Date indicates when majority of work was completed although individual sketches may have been updated since.</p>
		</div>
		<div class="header__sec header__sec--right">
		</div>
	</nav>
</header>
{{/json}}
