{{#json
'{
	"links": [
		{"title": "Fluid Sim", "date": "Jan 2020", "slug": "/fluid", "tags": "2D, Interaction"},
		{"title": "Simple Waves", "date": "Nov 2019", "slug": "/wave-sim", "tags": "3D, Interaction"},
		{"title": "Light Glow", "date": "Oct 2019", "slug": "/glow-process", "tags": "3D, Interaction"},
		{"title": "Toon Post Process", "date": "Sept 2019", "slug": "/post-process", "tags": "3D, Interaction"},
		{"title": "Scroll Loop", "date": "Dec 2018",  "slug": "/scroll-loop", "tags": "Design, Interaction"},
		{"title": "Floating Text", "date": "Dec 2018", "slug": "/floating-text", "tags": "3D, Interaction"},
		{"title": "Inverse Scroll", "date": "July 2018", "slug": "/inverse-scroll", "tags": "Design, Interaction"},
		{"title": "Wave Hover", "date": "Feb 2018", "slug": "/wave-hover", "tags": "Graphics, Interaction"}
	]
}'
}}
<header class="header">
	<div class="sidebar">
		<div class="brand">
			<h1 class="brand__logo"><a href="/">
			<img src="/logo.png" alt="Productive Procrastination">
		</a></h1>
		</div>
		<svg id="ToggleNav" class="header__burger" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30px" height="30px">
			<rect y="7" width="30" height="4" rx="0" ry="0" class="burger__element burger__element--top"></rect>
			<rect y="13" width="30" height="4" rx="0" ry="0" class="burger__element burger__element--middle"></rect>
			<rect y="19" width="30" height="4" rx="0" ry="0" class="burger__element burger__element--bottom"></rect>
		</svg>
		<div class="sidebar__random">
			{{!-- {{> components/dice }} --}}
		</div>
	</div>
	<nav id="MainNav" class="header__nav" aria-hidden="true">
		<div class="header__sec header__sec--left">
			<ul class="header__list">
				{{#each links}}
				<li class="header__list-item">
					<a class="header__list-link" href="{{this.slug}}/">
						<div class="header__list-item-wrap">
							<div class="header__list-comp header__list-comp--first">
								<p class="header__title">{{this.title}}</p>
							</div>
							<div class="header__list-comp header__list-comp--second">
								<p class="header__tags">{{this.tags}}</p>
							</div>
							<div class="header__list-comp header__list-comp--third">
								<p class="header__date">{{ this.date }}</p>
							</div>
						</div>
					</a>
				</li>
				{{/each}}
			</ul>
			<p class="header__disclaimer">*Date indicates when majority of work was completed although individual sketches may have been updated since.</p>
			<div class="header__description">
				<p class="header__copy">
					I'm <a href="https://lukecochrane.ca" target="_blank" class="header__link">Luke</a>, and this is Productive
					Procrastination. A collection of digital sketches - experiments or tests of ideas I've had and things I've come
					across on this world wide web.
				</p>
				<p class="header__copy">
					As is the nature of experiments these are not complete, refined digital experiences and support across devices and
					browsers may vary.
				</p>
			</div>
		</div>
		<div class="header__sec header__sec--right">
		</div>
	</nav>
</header>
{{/json}}
